.DesktopAboutTitle {
    text-align: center;
    color:#057a75;
}

.DesktopTanyaAboutImg {
    width:40%;
}

.DesktopAboutImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
}


.DesktopAboutText {
    padding-left: 3rem;
    padding-top: 2rem;
    font-family:"Shadows Into Light Two", serif;
    font-size: 2rem;
    color:#3d7003;
}


.MobileAboutImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.MobileAboutTitle {
    text-align: center;
    color:#057a75;
    
}

.MobileTanyaAboutImg {
    width:80%
}

.MobileAboutTextLarge {
    margin: 1rem;
    font-family:"Martel", serif;
    font-size: 1.3rem;
    color:#3d7003;
    padding-top: 1rem;
    
}

.MobileAboutTextSmall {
    font-family:"Martel", serif;
    font-size: 1.1rem;
    color:#3d7003;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}

.AboutMobileHearts {
    font-size: 6vh;
    color:#d09985;
    position: relative;
}

.MobileFiveThingsText {
    font-family:"Martel", serif;
    font-size: 1.1rem;
    color:#3d7003;
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 1rem;
}

