.CarouselContainer {
    display:grid;
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

@media (max-width: 767px){
    .Carousel {
        max-width: 90%;
    }
}

@media (min-width: 1200px){
    .Carousel {
        max-width: 60%;
    }
}

.CarouselTitle {
    font-family: "Poiret One", sans-serif;
    text-align: center;

}

.carousel .carousel-status{
    display: none;
}