.MobileFeaturedContainer {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 30px;
}

.MobileImgContainer {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.MobileFeatImg {
    width:90%;
}

.MobileFeaturedTitle {
    font-family: "lindsey-signature", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    font-size: 6vh;
    text-align: center;
}

.MobileButtonContainer {
    display: grid;
    margin: auto;
    width: 220px;
    height:60px;
    margin-top: 3rem;
}

.MobileFeaturedText {
    font-family: "Martel", serif;
    margin-top: 1rem;
    padding: 2rem;
    line-height: 2;
}

.MobileContactButton {
    font-family:"Martel", serif;
    font-size: 2vh;
    color:#fbf2e1;
    background-color: #d09985;
    border: none;

}


a {
    color: var(none);
    text-decoration: none;
}