* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #F0EFEA;
  }
  

  h3{
    font-size: 6.5vw;
    font-family: "Sacramento", sans-serif;
    text-align: center;
    font-weight: 600;
    color: #756c43;
    position: relative;
    top: 50px;
    
  }


  h2 {
    font-size: 4.5vw;
    position: absolute;
    font-family:"Edu NSW ACT Foundation", serif;
    text-align: center;
    margin-top: 200px;
    margin-left: 800px;
    color:rgb(56, 56, 56)
  }
  
  h1 {
    font-size: 6.5vw;
    font-family: "Sacramento", sans-serif;
    text-align: center;
    font-weight: 600;
    color: #353239;
    margin-top: 50px;
    margin-bottom:50px;
    
  }
  
  h1 span span {
      color: white;
      position: relative;
      bottom: -1em;
      opacity: 0;
      animation: move-text 0.75s forwards;
  }
  
  @keyframes move-text {
      0% {
          bottom: -0.2em;
          opacity: 1;
      }
      
      50% {
          bottom: 0.2em;
      }
  
      100% {
          bottom: 0;
          opacity: 1;
      }
  }
  
  
