* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #fbf2e1;
  }

.mobilehearts{
  font-size: 6vh;
  color:#ac7163;
  text-align: center;
}

.desktophearts {
  font-size: 16vh;
  color:#ac7163;
}

.InfoText {
  font-size:1.5vh;
  color:white

}

h2 {
  font-size: 7vh;
  font-family:"Nanum Pen Script", sans-serif;
}


  @media (max-width: 767px){
    h2 {
      font-size: 3vh;
      padding-bottom: 0;
      font-family:"Nanum Pen Script", sans-serif;      
    }
  }
  

  h3{
    font-size: 6.5vw;
    font-family: "Sacramento", sans-serif;
    text-align: center;
    font-weight: 600;
    color: #756c43;
    position: relative;
    top: 50px;
    
  }



  
  
  h1 {
    font-size: 6vw;
    font-family: "Poiret One", sans-serif;
    text-align: center;
    line-height: 90%;
    font-weight: 200;
    color: #353239;
    
  }
  
  h1 span span {
    color: white;
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
  }

@media (max-width: 767px){
  .carousel-caption{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    padding-bottom: 6rem;
    color: #fff;
    text-align: center;
  }
}

@media (min-width: 992px){
    .carousel-caption{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    padding-bottom: 45rem;
    color: #fff;
    text-align: center;
  }
}

  
  .DesktopQuote1 {
    font-size: 4vw;
    position: absolute;
    font-family:"Shadows Into Light Two", serif;
    text-align: center;
    margin-top: 200px;
    margin-left: 900px;
    color:#057a75;
  }

  .MobileQuote1 {
      font-size: 4.5vw;
      position: absolute;
      font-family:"Shadows Into Light Two", serif;
      text-align: center;
      margin-top: 40px;
      margin-left: 260px;
      margin-right: 20px;
      color:#057a75;
    }
    
  @keyframes move-text {
      0% {
          bottom: -0.2em;
          opacity: 1;
      }
      
      50% {
          bottom: 0.2em;
      }
  
      100% {
          bottom: 0;
          opacity: 1;
      }
  }


  
  
