* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    background-color: #F0EFEA;
  }
  
  h1 {
    font-size: 6.5vw;
    font-family: "Sacramento", sans-serif;
    text-align: center;
    font-weight: 600;
    color: #353239;
    margin-top: 20px;
  }
  
  h1 span span {
      color: white;
      position: relative;
      bottom: -1em;
      opacity: 0;
      animation: move-text 0.75s forwards;
  }
  
  @keyframes move-text {
      0% {
          bottom: -0.2em;
          opacity: 1;
      }
      
      50% {
          bottom: 0.2em;
      }
  
      100% {
          bottom: 0;
          opacity: 1;
      }
  }
  
  
