.nav {
    background-color: #f7f4ef;
    color:#fbf2e1;
}

.navText {
    color:#057a75;
    font-family: "Martel", sans-serif;
}


@media (min-width: 1200px){
    .navContainer {
        background-image:none;
    }
    
    .navlogo {
        width: 15%;
        clip-path: circle();
    }
}

@media (max-width: 767px){
    .navlogo {
        width: 50%;
        clip-path: circle();
        position: center;
        align-self: center;
        margin-bottom: 1.5rem;
    }
}