.SeeMyWorkContainer {
    height: fit-content;
 
}
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 200px;

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url('../Images/Scrollingbackground1.jpg'); }
  .img2 { background-image: url('../Images/Scrollingbackground2.jpg'); }
  .img3 { background-image: url('../Images/Scrollingbackground3.jpg'); }
  .img4 { background-image: url('../Images/scrollingbackground4.jpg'); }
  .img5 { background-image: url('../Images/scrollingbackground5.jpg'); }
  .img6 { background-image: url('../Images/scrollingbackground6.jpg'); }
  

  .StickyContainer {
    position:sticky;
    top:1rem;
    position: -webkit-sticky;
    padding: 2rem;
    text-align: center;
    display: grid;
    margin: auto;
    margin-bottom: 2rem;
  }

  .GalleryButton {
    text-align: center;
    font-family:"Martel", serif;
    font-size: 2vh;
    color:#fbf2e1;
    background-color: #d09985;
    opacity: .8;
    border: none;
    width: 230px;
    height:80px;

  }

@media (min-width: 1200px){
  
  .StickyContainer {
    position:sticky;
    top:1rem;
    position: -webkit-sticky;
    padding: 2rem;
    text-align: center;
    display: grid;
    margin: auto;
    margin-bottom: 2rem;
  }

  .GalleryButton {
    text-align: center;
    font-family:"Martel", serif;
    font-size: 2.5vh;
    color:#fbf2e1;
    background-color: #d09985;
    opacity: .8;
    border: none;
    width: 280px;
    height:90px;

  }
  .bg-image {
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}