.DesktopImagesParent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 750px;
    margin-bottom: 20px;
    padding: 25px;
    height:900px;
    background-image: url("../Images/boho-8.jpg");
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
}
   
.DesktopTestImage {
    max-width: 75%;
    float: left;
    clip-path: circle();
}

.DesktopPraiseText {
    position:absolute;
    margin-bottom: 700px;
    font-family: "Waterfall", sans-serif;
    font-size: 8vw;
    font-weight: 500;
    color: #057a75;
}

.DesktopTestText {
    color:#3d7003;
}
   

.MobileImagesParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 25px;
    background-image: url("../Images/boho-8.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.MobileTestImage {
    max-width: 100%;
    clip-path: circle();
    position: center;
    margin-bottom: 20px;
    
}

.MobileTestText {
    font-size: 16px;
    padding: 15px;
    margin-top: 10px;
    font-family: "Martel", serif;
    
}


.MobilePraiseText{
    font-family: "Waterfall", sans-serif;
    font-size: 15vw;
  }




   



