.DesktopImagesParent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 20px;
    padding: 5rem;
    height:900px;
    background-image: url("../Images/feathers.jpg");
    background-size:400%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
   
.DesktopTestImage {
    max-width: 75%;
    float: left;
    clip-path: circle();
}

.DesktopPraiseText {
    position:absolute;
    margin-bottom: 700px;
    font-family: "lindsey-signature", sans-serif;
    font-size: 5vw;
    font-weight: 500;
}

.DesktopTestText {
    color:#3d7003;
}
   

.MobileImagesParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 25px;
    background-image: url("../Images/feathers.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.MobileTestImage {
    max-width: 100%;
    clip-path: circle();
    position: center;
    margin-bottom: 20px;
    
}

.MobileTestText {
    font-size: 16px;
    padding: 15px;
    margin-top: 10px;
    font-family: "Martel", serif;
    
}


.MobilePraiseText{
    font-family: "lindsey-signature", sans-serif;
      font-weight: 400;
      font-style: normal;
    font-size: 15vw;
  }




   



